.flash-box {
  color: white;
  font-size: 1rem;
  weight: lighter;
  text-align: center;
  width: 100vw;

div {
  margin: 0;
  padding: 0;
}
 *{
  box-sizing: border-box;
 }
div {
    display: block;
  }
}